@use "/src/styles/global.scss" as *;

.no-flashcards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;

  span {
    color: #999;
  }
}

.flashcard-list {
  width: 100%;
  padding-bottom: 60px;

  .search-sort {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0 0 0.1px #ccc;
    background-color: light-dark(white, #383838);
    z-index: 2;
    padding: 16px;

    .flashcard-search {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $primary-color;
        padding: 8px;
        height: 48px;
      }

      .clear {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        font-weight: bold;
      }
    }

    .flashcard-sort {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .toggle {
        background-color: light-dark(white, #383838);
        border: 1px solid #ccc;
        width: 48px;
        height: 48px;
        margin-left: 8px;
        border-radius: 4px;
      }

      .sort-menu {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 3;
        background-color: light-dark(white, #383838);
        width: 150px;
        top: 40px;
        right: 40px;
        border-radius: 4px;
        box-shadow: 0 0 0 0.1px #ccc;

        .sort {
          width: 100%;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          vertical-align: bottom;

          &.active {
            span {
              font-weight: bold;
            }
          }

          &:not(:last-of-type) {
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }
}
