@use "/src/styles/global" as *;

.config-review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 32px 16px;

  .title {
    width: 100%;
    margin-bottom: 32px;
    span {
      font-size: 24px;
      color: $secondary-color;
    }
  }

  .range {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    input {
      width: 75%;
      margin-bottom: 16px;
    }

    span {
      color: $accent-color;
      font-size: 32px;
    }
  }

  button {
    @include text-button;
  }

  .divider {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 32px 0;
  }
}
