@use "/src/styles/global" as *;

.edit-flashcard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;

  input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }

  .primitive {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      margin: 0;
      margin-left: 8px;
    }
  }

  .image-container {
    position: relative;
    width: 50%;

    img {
      width: 100%;
      mix-blend-mode: multiply;
    }

    button {
      position: absolute;
      right: 0;
      top: 24px;
      border: none;
      background-color: transparent;
      width: 48px;
      height: 48px;
    }
  }

  .save-button {
    @include text-button;
  }
}
