.add-flashcard-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #cdc6d7;
  border-radius: 4px;
  margin-bottom: 8px;
}
