@use "sass:color";
@use "/src/styles/global.scss" as *;

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .settings-button {
    position: fixed;
    top: 8px;
    right: 8px;
    @include icon-button;
  }

  .home-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .streak-section {
      margin-bottom: 32px;
    }

    .stats-section {
      margin-bottom: 32px;
    }
  }

  .bottom-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    border-top: 1px solid color.adjust($primary-color, $alpha: -0.3);
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      padding: 16px;
      color: $accent-color;

      &:nth-child(1) {
        border-right: 1px solid color.adjust($primary-color, $alpha: -0.3);
      }
    }
  }

  .add-flashcard-button {
    margin-bottom: 68px;
  }
}
