@use "/src/styles/global" as *;

.grade-flashcard-review {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: 4px;
    margin-right: 4px;
    @include icon-button;
  }
}
