@use "/src/styles/global" as *;

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;

  canvas {
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
      mix-blend-mode: lighten;
    }
  }

  .crosshairs {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(85vw, 85vh);
    height: min(85vw, 85vh);
    z-index: 1;
    touch-action: none;
    pointer-events: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: light-dark(#ccc, #888);
      opacity: 0.2;
      width: 2px;
      height: 100%;
      border-radius: 50%;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: light-dark(#ccc, #888);
      opacity: 0.2;
      height: 2px;
      width: 100%;
      border-radius: 50%;
    }
  }

  .buttons-section {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .button {
      @include icon-button;
      margin-bottom: 8px;
    }
  }
}
