@use "/src/styles/global" as *;

.settings {
  padding: 16px;
  .title {
    margin-bottom: 32px;
    span {
      font-size: 26px;
      color: $accent-color;
    }
  }
  .tile-list {
    .settings-tile {
      padding: 16px;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }

      span {
        color: $accent-color;
      }
    }
  }
  .loading {
    display: block;
    margin-top: 16px;
    opacity: 0.5;
  }
}
