@use "/src/styles/global" as *;

.calendar-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .days {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 88vw;

    .day {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(88vw / 7);
      height: calc(88vw / 7);

      &:before {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
      }

      &.today {
        &:before {
          @media (prefers-color-scheme: light) {
            box-shadow: 0 0 5px 0 #777;
          }
          @media (prefers-color-scheme: dark) {
            box-shadow: 0 0 0 3px #eee;
          }
        }
        span {
          font-weight: bold;
        }
      }

      &.gold {
        &:before {
          background-color: light-dark(#ffe96a, #c3b151);
        }
      }

      &.green {
        &:before {
          background-color: light-dark(#57ba57, #397a39);
        }
      }

      &.blue {
        &:before {
          background-color: light-dark(#6f6ffb, #4f4fb6);
        }
      }

      span {
        position: relative;
      }
    }
  }

  .past-session-tooltip {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -16px;
    margin-bottom: 16px;
    width: 70%;
    left: 15%;
    padding: 8px;
    background-color: light-dark(white, #383838);
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #ccc;

    span {
      margin-bottom: 4px;

      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}
