@use "/src/styles/global" as *;

.calendar-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .days {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 88vw;

    .day {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(88vw / 7);
      height: calc(88vw / 7);
      border: 0.1px solid #ccc;

      &.today {
        box-shadow: inset 0 0 3px 0 light-dark(#000, #999);
      }

      &.gold {
        background-color: light-dark(#ffe96a, #c3b151);
      }

      &.green {
        background-color: light-dark(#57ba57, #397a39);
      }

      &.blue {
        background-color: light-dark(#6f6ffb, #4f4fb6);
      }
    }
  }

  .past-session-tooltip {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -16px;
    margin-bottom: 16px;
    width: 70%;
    left: 15%;
    padding: 8px;
    background-color: light-dark(white, #383838);
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #ccc;

    span {
      margin-bottom: 4px;

      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}
