.new-flashcard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;

  input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }

  .primitive {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      margin: 0;
      margin-left: 8px;
    }
  }

  img {
    width: 50%;
  }

  .save-button {
    border: none;
    background-color: #cdc6d7;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
  }
}
